@import "tailwindcss";
@source "./src/**/*.{rs,html,css}";

@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "musicaloft";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(27% 0.041 260.031);
  --color-base-200: oklch(20% 0.042 265.755);
  --color-base-300: oklch(12% 0.042 264.695);
  --color-base-content: oklch(100% 0 0);
  --color-primary: oklch(49% 0.265 301.924);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(51% 0.253 323.949);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(50% 0.118 165.612);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(44% 0.043 257.281);
  --color-neutral-content: oklch(86% 0.022 252.894);
  --color-info: oklch(50% 0.134 242.749);
  --color-info-content: oklch(90% 0.058 230.902);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(91% 0.096 180.426);
  --color-warning: oklch(55% 0.163 48.998);
  --color-warning-content: oklch(92% 0.12 95.746);
  --color-error: oklch(50% 0.213 27.518);
  --color-error-content: oklch(88% 0.062 18.334);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.3125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
